# **Imports/Configs**

In [1]:
import os
import sys
import warnings

import pandas as pd

warnings.filterwarnings("ignore")
pd.options.display.float_format = "{:,.2f}".format
# Adiciona o diretório raiz do projeto ao Python path
project_root = os.path.abspath("..")
if project_root not in sys.path:
    sys.path.insert(0, project_root)

# **Pipeline**

In [2]:
from src.cacs_fundeb_analysis.data.ETL.pipeline import run_data_pipeline

run_data_pipeline(
    15778860.39,
    "../data",
    2025,
    4,
    "../src/cacs_fundeb_analysis/data/ETL/transform/payrolls/gross_payroll/occupation_classification.json",
    "../src/cacs_fundeb_analysis/data/ETL/transform/payrolls/gross_payroll/allocation_classification.json",
)

Failed to import jpype dependencies. Fallback to subprocess.
No module named 'jpype'

Pipeline bancário executado com sucesso!
Pipeline de transferências públicas executado com sucesso!
Pipeline de remessas executado com sucesso!
Pipeline contábil/orçamentário executado com sucesso!
Pipeline da folha de pagamento executado com sucesso!
Pipeline executado com sucesso!

# **Bank Statement**

## Current

### One sheet

In [ ]:
from src.cacs_fundeb_analysis.data.ETL.extract.bank_statements.current_account.pdf import (
    extract_pdf_current_account_statement_data,
)

raw_current_statement = extract_pdf_current_account_statement_data(
    "../data/raw/files/2025/Bimestre_01/01/Extratos/Conta_Corrente/25_01_Extrato_Conta_Corrente.pdf"
)
raw_current_statement

Failed to import jpype dependencies. Fallback to subprocess.
No module named 'jpype'

,DATA,AG_O,LOTE,COD_HIST,HIST,DOC,VALOR,INF,SALDO
0,NaN,NaN,NaN,NaN,NaN,NaN,G336251,236,0013881
1,NaN,NaN,NaN,NaN,NaN,NaN,25/03/20,25,12:43:49
2,Ex,trato de,Co,nta,Corrente,NaN,NaN,NaN,NaN
3,Cliente - Conta atual,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Agência 3575-0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
142,OBSERV,AÇÕES:,NaN,NaN,NaN,NaN,NaN,NaN,NaN
143,------------------------,---------,-----,---,-------,NaN,NaN,NaN,NaN
144,Transação efetuada com sucesso,por: JG761,208 AI,LTO,N AZEVEDO MARQUES DA NO,BREGA.,NaN,NaN,NaN
145,Serviço de Atendimento ao Consu,midor - SAC,0800,729,0722 Ouvido,ria BB 0800 729 567,8,NaN,NaN
146,NaN,NaN,NaN,NaN,Para d,eficientes auditivos 0,800 729 0088,NaN,NaN

### All sheets

In [ ]:
from src.cacs_fundeb_analysis.data.ETL.extract.bank_statements.current_account.pdf import (
    extract_all_pdf_current_account_statement_data,
)

raw_current_statement = extract_all_pdf_current_account_statement_data(
    "../data", 2025, "Extrato_Conta_Corrente.pdf"
)
raw_current_statement

,DATA,AG_O,LOTE,COD_HIST,HIST,DOC,VALOR,INF,SALDO
0,NaN,NaN,NaN,NaN,NaN,NaN,G336251,236,0013881
1,NaN,NaN,NaN,NaN,NaN,NaN,25/03/20,25,12:43:49
2,Ex,trato de,Co,nta,Corrente,NaN,NaN,NaN,NaN
3,Cliente - Conta atual,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Agência 3575-0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
78,OBSERV,AÇÕES:,NaN,NaN,NaN,NaN,NaN,NaN,NaN
79,------------------------,---------,-----,---,-------,NaN,NaN,NaN,NaN
80,Transação efetuada com sucesso,por: JG761,208 AI,LTO,N AZEVEDO MARQUES DA NO,BREGA.,NaN,NaN,NaN
81,Serviço de Atendimento ao Consu,midor - SAC,0800,729,0722 Ouvido,ria BB 0800 729 567,8,NaN,NaN
82,NaN,NaN,NaN,NaN,Para d,eficientes auditivos 0,800 729 0088,NaN,NaN

### Transform

In [ ]:
from src.cacs_fundeb_analysis.data.ETL.transform.bank_statements.current_account.transform import (
    transform_pdf_current_account_statement_data,
)

transformed_current_statement = transform_pdf_current_account_statement_data(
    raw_current_statement
)
transformed_current_statement

,AG_O,DOC,LOTE,COD_HIST,HIST,VALOR_APP,VALOR,INF,SALDO,DET_HIST
DATA,,,,,,,,,,
2025-01-10,0000,350,14011,639,IPVA,0.00,"33,292.32",C,0,NaN
2025-01-10,0000,350,14011,683,ITR,0.00,801.48,C,0,NaN
2025-01-10,0000,350,14011,831,RECEBIMENTO DE ICMS,0.00,"1,473,123.32",C,0,NaN
2025-01-10,0000,350,14011,952,FPE/FPM,0.00,"974,097.66",C,0,NaN
2025-01-10,0000,350,14011,952,FPE/FPM,0.00,"2,264,490.48",C,0,NaN
...,...,...,...,...,...,...,...,...,...,...
2025-08-29,0000,580.101,13134,250,Folha de Pagamento,0.00,"-586,497.61",D,0,NaN
2025-08-29,0000,940.101,13134,211,Pagamentos Diversos,0.00,"-12,569.47",D,0,NaN
2025-08-29,0000,892.411.200.194.639,13113,170,Tar Lib/Ant Float Pg Div,0.00,-12.56,D,0,NaN
2025-08-29,0000,892.411.200.194.640,13113,170,Tar Lib/Ant Float Pg Div,0.00,-3.93,D,0,NaN
2025-08-29,0000,1.972,00000,848,Resgate Automático,"10,220,347.45",0.00,C,0,None

## Application

### One sheet

In [ ]:
from src.cacs_fundeb_analysis.data.ETL.extract.bank_statements.application_account.pdf import (
    extract_pdf_application_account_statement_data,
)

raw_application_statement = extract_pdf_application_account_statement_data(
    "../data/raw/files/2025/Bimestre_01/01/Extratos/Conta_Aplicação/25_01_Extrato_Conta_Aplicação.pdf"
)
raw_application_statement

PERÍODO            ../da
RENDIMENTO    251.992,13
dtype: object

### All sheets

In [ ]:
from src.cacs_fundeb_analysis.data.ETL.extract.bank_statements.application_account.pdf import (
    extract_all_pdf_application_account_statement_data,
)

raw_application_statement = extract_all_pdf_application_account_statement_data(
    "../data", 2025, "Extrato_Conta_Aplicação.pdf"
)
raw_application_statement

  PERÍODO    RENDIMENTO
0   25/01    251.992,13
1   25/02    649.670,60
2   25/03    663.914,50
3   25/04    774.482,43
4   25/05  1.070.137,31
5   25/06    972.555,20
6   25/07  1.077.343,87
7   25/08    956.265,43

### Transform

In [ ]:
from src.cacs_fundeb_analysis.data.ETL.transform.bank_statements.application_account.transform import (
    transform_pdf_applications_account_statement_data,
)

transformed_application_statement = transform_pdf_applications_account_statement_data(
    raw_application_statement
)
transformed_application_statement

,AG_O,LOTE,COD_HIST,HIST,DOC,VALOR_APP,VALOR,INF,SALDO,DET_HIST
DATA,,,,,,,,,,
2025-01-31,0000,00000,000,RENDIMENTOS,0,0,"251,992.13",C,NaN,RENDIMENTOS
2025-02-28,0000,00000,000,RENDIMENTOS,0,0,"649,670.60",C,NaN,RENDIMENTOS
2025-03-31,0000,00000,000,RENDIMENTOS,0,0,"663,914.50",C,NaN,RENDIMENTOS
2025-04-30,0000,00000,000,RENDIMENTOS,0,0,"774,482.43",C,NaN,RENDIMENTOS
2025-05-31,0000,00000,000,RENDIMENTOS,0,0,"1,070,137.31",C,NaN,RENDIMENTOS
2025-06-30,0000,00000,000,RENDIMENTOS,0,0,"972,555.20",C,NaN,RENDIMENTOS
2025-07-31,0000,00000,000,RENDIMENTOS,0,0,"1,077,343.87",C,NaN,RENDIMENTOS
2025-08-31,0000,00000,000,RENDIMENTOS,0,0,"956,265.43",C,NaN,RENDIMENTOS

## Consolidation

In [ ]:
from src.cacs_fundeb_analysis.data.ETL.transform.bank_statements.consolidation import (
    bank_statement_consolidation,
)

bank_statement = bank_statement_consolidation(
    transformed_application_statement,
    transformed_current_statement,
    15778860.39,
    2025,
)
bank_statement

,AG_O,DOC,LOTE,COD_HIST,HIST,VALOR_APP,VALOR,INF,SALDO,DET_HIST
2024-12-31,NaN,NaN,NaN,NaN,SALDO INICIAL,NaN,"15,778,860.39",NaN,"15,778,860.39",NaN
2025-01-10,0000,1.972,00000,271,BB-APLIC C.PRZ-APL.AUT,"-31,430,352.23",0.00,D,"15,778,860.39",NaN
2025-01-10,0000,850,13011,350,COTA DAF-DEBITO,0.00,"-21,145.69",D,"15,757,714.70",NaN
2025-01-10,0000,350,14011,953,IPI/EXPORTACAO,0.00,"12,267.68",C,"15,769,982.38",NaN
2025-01-10,0000,350,14011,953,IPI/EXPORTACAO,0.00,"21,145.69",C,"15,791,128.07",NaN
...,...,...,...,...,...,...,...,...,...,...
2025-08-29,0000,81.955,13134,250,Folha de Pagamento,0.00,"-552,605.62",D,"133,226,899.79",NaN
2025-08-29,0000,81.953,13134,250,Folha de Pagamento,0.00,"-33,152,856.07",D,"100,074,043.72",NaN
2025-08-29,0000,892.411.200.194.639,13113,170,Tar Lib/Ant Float Pg Div,0.00,-12.56,D,"100,074,031.16",NaN
2025-08-29,0000,530.201,13134,250,Folha de Pagamento,0.00,"-15,374.74",D,"100,058,656.42",NaN
2025-08-31,0000,0,00000,000,RENDIMENTOS,0,"956,265.43",C,"101,014,921.85",RENDIMENTOS

## Summaries

In [ ]:
# Adicionar tabela resumo (index ano-mes, columns variables)

In [ ]:
from src.cacs_fundeb_analysis.data.ETL.transform.bank_statements.summaries import (
    get_bank_statement_movement_summary,
)

bank_statement_entries = get_bank_statement_movement_summary(bank_statement, "c")
bank_statement_entries

            HISTÓRICO_BANCÁRIO  VALOR_ACUMULADO
0                      FPE/FPM   593,131,060.79
6          RECEBIMENTO DE ICMS   113,041,347.99
2                         IPVA    13,774,002.90
7                  RENDIMENTOS     6,416,361.47
8      VAAR Complemento FUNDEB     1,648,620.10
1               IPI/EXPORTACAO       548,475.78
3                        ITCMD       221,804.14
4                          ITR        11,046.09
5         ORDEM BANC CANCELADA           742.01
TOTAL                      NaN   728,793,461.27

In [ ]:
from src.cacs_fundeb_analysis.data.ETL.transform.bank_statements.summaries import (
    get_bank_statement_movement_summary,
)

bank_statement_outputs = get_bank_statement_movement_summary(bank_statement, "d")
bank_statement_outputs

              HISTÓRICO_BANCÁRIO  VALOR_ACUMULADO
3             Folha de Pagamento  -344,216,666.66
2         Emissão Ordem Bancária  -298,077,422.42
7      TED Transf.Eletr.Disponiv      -422,195.22
1                COTA DAF-DEBITO      -347,103.59
5            Pagamentos Diversos      -167,864.07
0        Ajuste Complemento VAAR      -164,645.69
4                       Impostos      -150,593.16
8       Tar Lib/Ant Float Pg Div        -7,571.20
6        Pagto via Auto-Atend.BB        -3,337.80
TOTAL                        NaN  -643,557,399.81

In [ ]:
from src.cacs_fundeb_analysis.data.ETL.transform.bank_statements.summaries import (
    get_bank_statement_report,
)

bank_statement_report = get_bank_statement_report(bank_statement, 2025, 12)
bank_statement_report

1. SALDO INICIAL                                                              15,778,860.39

2. TOTAL DE ENTRADAS                                                         728,793,461.27
   2.1. ENTRADAS CORRENTES                                                   728,280,969.98
       2.1.1. TOTAL DE REPASSES                                              721,864,608.51
           2.1.1.1. FUNDEB - Impostos e Transferências de Impostos (FNDE)    720,380,634.10
               2.1.1.1.1. PRINCIPAL                                          720,727,737.69
               2.1.1.1.2. Ajustes (COTA DAF)                                    -347,103.59
           2.1.1.2. COMPLEMENTAÇÃO DA UNIÃO                                    1,483,974.41
               2.1.1.2.1. VAAF                                                         0.00
               2.1.1.2.2. VAAT                                                         0.00
               2.1.1.2.3. VAAR                                                 1,648,620.10
               2.1.1.2.4. Ajustes de complementação da União                    -164,645.69
       2.1.2. RENDIMENTOS DE APLICAÇÕES FINANCEIRAS                            6,416,361.47
   2.2. OUTRAS ENTRADAS                                                          512,491.29
       2.2.1. ORDENS CANCELADAS (ENTRADAS)                                           742.01
       2.2.2. TRANSFERÊNCIAS RECEBIDAS (ENTRADAS)                                      0.00
       2.2.3. Ajustes (COTA DAF)                                                 347,103.59
       2.2.4. Ajustes de complementação da União                                 164,645.69

3. TOTAL DE SAÍDAS                                                          -643,557,399.81
   3.1. DESPESAS CANCELADAS/ANULADAS                                                -742.01
   3.2. Ajustes (COTA DAF)                                                      -347,103.59
   3.3. Ajustes de complementação da União                                      -164,645.69
   3.4. DESPESAS EFETIVAMENTE PAGAS                                         -643,044,908.52

4. SALDO FINAL                                                               101,014,921.85

5. TOTAL APLICADO                                                           -582,079,683.68
6. TOTAL RESGATADO                                                           503,259,983.69
Name: TOTAIS, dtype: object

In [ ]:
from src.cacs_fundeb_analysis.data.ETL.transform.bank_statements.summaries import (
    get_bank_statement_summary,
)

bank_statement_summary = get_bank_statement_summary(bank_statement_report)
bank_statement_summary

                               TOTAL
1. SALDO INICIAL       15,778,860.39
2. TOTAL DE ENTRADAS  728,793,461.27
3. TOTAL DE SAÍDAS   -643,557,399.81
4. SALDO FINAL        101,014,921.85

## Pipeline

In [ ]:
from src.cacs_fundeb_analysis.data.ETL.pipelines.bank_statements.pipeline import (
    run_bank_statement_pipeline,
)

run_bank_statement_pipeline(
    15778860.39,
    "../data",
    2025,
)

Pipeline bancário executado com sucesso!

# **Public transfers**

## Liquid

### One sheet

In [ ]:
from src.cacs_fundeb_analysis.data.ETL.extract.public_transfers.excel import (
    extract_sheet_excel_fnde_public_transfers_data,
)

raw_liquid_public_transfers_data = extract_sheet_excel_fnde_public_transfers_data(
    "../data/external/2025_Transferências_Fundeb_FNDE.xls", "E_ICMS", False
)

raw_liquid_public_transfers_data.head()

,ESTADOS,JANEIRO,FEVEREIRO,MARÇO,ABRIL,MAIO,JUNHO,JULHO,AGOSTO,SETEMBRO,OUTUBRO,NOVEMBRO,DEZEMBRO,TOTAL,File,Ano,Sheet
UF,,,,,,,,,,,,,,,,,
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025_Transferências_Fundeb_FNDE.xls,2025,E_ICMS
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025_Transferências_Fundeb_FNDE.xls,2025,E_ICMS
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025_Transferências_Fundeb_FNDE.xls,2025,E_ICMS
AC,Acre,"17,166,637.90","20,345,121.08","19,850,997.34","21,246,955.29","21,737,937.74","22,006,484.07","24,759,921.54","23,373,727.87",NaN,NaN,NaN,NaN,"170,487,782.83",2025_Transferências_Fundeb_FNDE.xls,2025,E_ICMS
AL,Alagoas,"39,540,062.37","45,995,313.79","36,801,251.15","50,613,767.92","37,288,349.65","36,158,153.85","38,056,605.20","36,244,481.51",NaN,NaN,NaN,NaN,"320,697,985.44",2025_Transferências_Fundeb_FNDE.xls,2025,E_ICMS

### All sheets

In [ ]:
from src.cacs_fundeb_analysis.data.ETL.extract.public_transfers.excel import (
    extract_excel_fnde_public_transfers_data,
)

raw_liquid_public_transfers_data = extract_excel_fnde_public_transfers_data(
    "../data/external", 2025, False
)
raw_liquid_public_transfers_data

,ESTADOS,JANEIRO,FEVEREIRO,MARÇO,ABRIL,MAIO,JUNHO,JULHO,AGOSTO,SETEMBRO,OUTUBRO,NOVEMBRO,DEZEMBRO,TOTAL,File,Ano,Sheet,Unnamed: 15
UF,,,,,,,,,,,,,,,,,,
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025_Transferências_Fundeb_FNDE.xls,2025,E_FPE,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025_Transferências_Fundeb_FNDE.xls,2025,E_FPE,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025_Transferências_Fundeb_FNDE.xls,2025,E_FPE,NaN
AC,Acre,"74,535,794.07","105,316,257.57","68,285,025.14","68,677,544.76","88,274,584.74","93,200,043.75","55,762,274.40","74,826,289.95",NaN,NaN,NaN,NaN,"628,877,814.38",2025_Transferências_Fundeb_FNDE.xls,2025,E_FPE,NaN
AL,Alagoas,"37,926,246.73","51,943,366.86","33,994,768.58","34,403,335.01","44,018,546.77","45,714,856.23","27,775,166.17","36,894,323.67",NaN,NaN,NaN,NaN,"312,670,610.02",2025_Transferências_Fundeb_FNDE.xls,2025,E_FPE,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025_Transferências_Fundeb_FNDE.xls,2025,M_ITCMD,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025_Transferências_Fundeb_FNDE.xls,2025,M_ITCMD,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025_Transferências_Fundeb_FNDE.xls,2025,M_ITCMD,NaN
NaN,AJUSTE FUNDEB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025_Transferências_Fundeb_FNDE.xls,2025,M_ITCMD,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025_Transferências_Fundeb_FNDE.xls,2025,M_ITCMD,NaN

### Transform

In [ ]:
from src.cacs_fundeb_analysis.data.ETL.transform.public_transfers.transform import (
    transform_fnde_public_transfers_data,
)

cleaned_liquid_public_transfers_data = transform_fnde_public_transfers_data(
    raw_liquid_public_transfers_data
)
cleaned_liquid_public_transfers_data

,File,UF,Ente,Recurso,Ano,Mes,Valor
0,2025_Transferências_Fundeb_FNDE.xls,AC,E,FPE,2025,1,"74,535,794.07"
1,2025_Transferências_Fundeb_FNDE.xls,AL,E,FPE,2025,1,"37,926,246.73"
2,2025_Transferências_Fundeb_FNDE.xls,AM,E,FPE,2025,1,"42,044,472.10"
3,2025_Transferências_Fundeb_FNDE.xls,AP,E,FPE,2025,1,"65,959,887.71"
4,2025_Transferências_Fundeb_FNDE.xls,BA,E,FPE,2025,1,"83,357,946.68"
...,...,...,...,...,...,...,...
6475,2025_Transferências_Fundeb_FNDE.xls,RS,M,ITCMD,2025,12,NaN
6476,2025_Transferências_Fundeb_FNDE.xls,SC,M,ITCMD,2025,12,NaN
6477,2025_Transferências_Fundeb_FNDE.xls,SE,M,ITCMD,2025,12,NaN
6478,2025_Transferências_Fundeb_FNDE.xls,SP,M,ITCMD,2025,12,NaN
6479,2025_Transferências_Fundeb_FNDE.xls,TO,M,ITCMD,2025,12,NaN

## Adjusts

### One sheet

In [ ]:
from src.cacs_fundeb_analysis.data.ETL.extract.public_transfers.excel import (
    extract_sheet_excel_fnde_public_transfers_data,
)

raw_adjusts_public_transfers_data = extract_sheet_excel_fnde_public_transfers_data(
    "../data/external/2025_Transferências_Fundeb_FNDE.xls", "E_ICMS", True
)

raw_adjusts_public_transfers_data.head()

,ESTADOS,JANEIRO,FEVEREIRO,MARÇO,ABRIL,MAIO,JUNHO,JULHO,AGOSTO,SETEMBRO,OUTUBRO,NOVEMBRO,DEZEMBRO,TOTAL,File,Ano,Sheet
UF,,,,,,,,,,,,,,,,,
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025_Transferências_Fundeb_FNDE.xls,2025,E_ICMS
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025_Transferências_Fundeb_FNDE.xls,2025,E_ICMS
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025_Transferências_Fundeb_FNDE.xls,2025,E_ICMS
AC,Acre,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,NaN,NaN,NaN,NaN,0.00,2025_Transferências_Fundeb_FNDE.xls,2025,E_ICMS
AL,Alagoas,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,NaN,NaN,NaN,NaN,0.00,2025_Transferências_Fundeb_FNDE.xls,2025,E_ICMS

### All sheets

In [ ]:
from src.cacs_fundeb_analysis.data.ETL.extract.public_transfers.excel import (
    extract_excel_fnde_public_transfers_data,
)

raw_adjusts_public_transfers_data = extract_excel_fnde_public_transfers_data(
    "../data/external", 2025, True
)
raw_adjusts_public_transfers_data

,ESTADOS,JANEIRO,FEVEREIRO,MARÇO,ABRIL,MAIO,JUNHO,JULHO,AGOSTO,SETEMBRO,OUTUBRO,NOVEMBRO,DEZEMBRO,TOTAL,File,Ano,Sheet,Unnamed: 15
UF,,,,,,,,,,,,,,,,,,
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025_Transferências_Fundeb_FNDE.xls,2025,E_FPE,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025_Transferências_Fundeb_FNDE.xls,2025,E_FPE,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025_Transferências_Fundeb_FNDE.xls,2025,E_FPE,NaN
AC,Acre,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,NaN,NaN,NaN,NaN,0.00,2025_Transferências_Fundeb_FNDE.xls,2025,E_FPE,NaN
AL,Alagoas,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,NaN,NaN,NaN,NaN,0.00,2025_Transferências_Fundeb_FNDE.xls,2025,E_FPE,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
SE,Sergipe,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,NaN,NaN,NaN,NaN,0.00,2025_Transferências_Fundeb_FNDE.xls,2025,M_ITCMD,NaN
SP,São Paulo,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,NaN,NaN,NaN,NaN,0.00,2025_Transferências_Fundeb_FNDE.xls,2025,M_ITCMD,NaN
TO,Tocantins,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,NaN,NaN,NaN,NaN,0.00,2025_Transferências_Fundeb_FNDE.xls,2025,M_ITCMD,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025_Transferências_Fundeb_FNDE.xls,2025,M_ITCMD,NaN
NaN,REPASSE MENSAL TOTAL,"9,864.07",0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,"9,864.07",2025_Transferências_Fundeb_FNDE.xls,2025,M_ITCMD,NaN

### Transform

In [ ]:
from src.cacs_fundeb_analysis.data.ETL.transform.public_transfers.transform import (
    transform_fnde_public_transfers_data,
)

cleaned_adjusts_public_transfers_data = transform_fnde_public_transfers_data(
    raw_adjusts_public_transfers_data
)
cleaned_adjusts_public_transfers_data

                                     File  UF Ente Recurso   Ano  Mes  Valor
0     2025_Transferências_Fundeb_FNDE.xls  AC    E     FPE  2025    1   0.00
1     2025_Transferências_Fundeb_FNDE.xls  AL    E     FPE  2025    1   0.00
2     2025_Transferências_Fundeb_FNDE.xls  AM    E     FPE  2025    1   0.00
3     2025_Transferências_Fundeb_FNDE.xls  AP    E     FPE  2025    1   0.00
4     2025_Transferências_Fundeb_FNDE.xls  BA    E     FPE  2025    1   0.00
...                                   ...  ..  ...     ...   ...  ...    ...
6475  2025_Transferências_Fundeb_FNDE.xls  RS    M   ITCMD  2025   12    NaN
6476  2025_Transferências_Fundeb_FNDE.xls  SC    M   ITCMD  2025   12    NaN
6477  2025_Transferências_Fundeb_FNDE.xls  SE    M   ITCMD  2025   12    NaN
6478  2025_Transferências_Fundeb_FNDE.xls  SP    M   ITCMD  2025   12    NaN
6479  2025_Transferências_Fundeb_FNDE.xls  TO    M   ITCMD  2025   12    NaN

[6480 rows x 7 columns]

## Consolidation

In [ ]:
from src.cacs_fundeb_analysis.data.ETL.transform.public_transfers.consolidation import (
    public_transfers_consolidation,
)

public_transfers_data = public_transfers_consolidation(
    cleaned_liquid_public_transfers_data, cleaned_adjusts_public_transfers_data
)
public_transfers_data

,File,UF,Ente,Recurso,Ano,Mes,Valor_Bruto,Valor_Ajuste,Valor_Liquido
0,2025_Transferências_Fundeb_FNDE.xls,AC,E,FPE,2025,1,"74,535,794.07",0.00,"74,535,794.07"
1,2025_Transferências_Fundeb_FNDE.xls,AL,E,FPE,2025,1,"37,926,246.73",0.00,"37,926,246.73"
2,2025_Transferências_Fundeb_FNDE.xls,AM,E,FPE,2025,1,"42,044,472.10",0.00,"42,044,472.10"
3,2025_Transferências_Fundeb_FNDE.xls,AP,E,FPE,2025,1,"65,959,887.71",0.00,"65,959,887.71"
4,2025_Transferências_Fundeb_FNDE.xls,BA,E,FPE,2025,1,"83,357,946.68",0.00,"83,357,946.68"
...,...,...,...,...,...,...,...,...,...
6475,2025_Transferências_Fundeb_FNDE.xls,RS,M,ITCMD,2025,12,NaN,NaN,NaN
6476,2025_Transferências_Fundeb_FNDE.xls,SC,M,ITCMD,2025,12,NaN,NaN,NaN
6477,2025_Transferências_Fundeb_FNDE.xls,SE,M,ITCMD,2025,12,NaN,NaN,NaN
6478,2025_Transferências_Fundeb_FNDE.xls,SP,M,ITCMD,2025,12,NaN,NaN,NaN
6479,2025_Transferências_Fundeb_FNDE.xls,TO,M,ITCMD,2025,12,NaN,NaN,NaN

## Filters

In [ ]:
from src.cacs_fundeb_analysis.data.ETL.transform.public_transfers.transform import (
    filter_public_transfers_data,
)

filtered_uf_public_transfers_data = filter_public_transfers_data(
    public_transfers_data, uf="AP", state_level="E"
)
filtered_uf_public_transfers_data.head(10)

,File,UF,Ente,Recurso,Ano,Mes,Valor_Bruto,Valor_Ajuste,Valor_Liquido
3,2025_Transferências_Fundeb_FNDE.xls,AP,E,FPE,2025,1,"65,959,887.71",0.00,"65,959,887.71"
30,2025_Transferências_Fundeb_FNDE.xls,AP,E,FPM,2025,1,"8,192,778.26",0.00,"8,192,778.26"
57,2025_Transferências_Fundeb_FNDE.xls,AP,E,IPI,2025,1,"21,797.28",0.00,"21,797.28"
84,2025_Transferências_Fundeb_FNDE.xls,AP,E,ITR,2025,1,"1,452.04",0.00,"1,452.04"
111,2025_Transferências_Fundeb_FNDE.xls,AP,E,COUN_VAAF,2025,1,0.00,0.00,0.00
138,2025_Transferências_Fundeb_FNDE.xls,AP,E,COUN_VAAT,2025,1,0.00,0.00,0.00
165,2025_Transferências_Fundeb_FNDE.xls,AP,E,COUN_VAAR,2025,1,"1,477,881.77","-164,645.69","1,313,236.08"
192,2025_Transferências_Fundeb_FNDE.xls,AP,E,ICMS,2025,1,"17,391,684.67",0.00,"17,391,684.67"
219,2025_Transferências_Fundeb_FNDE.xls,AP,E,IPVA,2025,1,"34,348.74",0.00,"34,348.74"
246,2025_Transferências_Fundeb_FNDE.xls,AP,E,ITCMD,2025,1,"20,855.66",0.00,"20,855.66"

## Summaries

In [ ]:
from src.cacs_fundeb_analysis.data.ETL.transform.public_transfers.summaries import (
    get_pivot_table_period,
)

get_pivot_table_period(public_transfers_data).head(5)

Ano               2025                                               \
Mes                  1              2              3              4
UF Ente
AC E    107,358,835.61 143,271,806.15 100,541,408.41 102,931,565.32
   M     90,948,146.06  98,081,530.90  71,238,824.40  76,215,896.54
AL E    164,255,914.47 156,031,154.39 118,489,909.46 155,144,215.40
   M    706,833,236.69 512,596,002.13 414,150,408.76 543,276,177.97
AM E    405,050,152.28 260,920,129.54 235,422,784.22 211,956,440.29

Ano                                                                            \
Mes                  5              6              7              8    9   10
UF Ente
AC E    125,377,915.82 130,672,308.37  91,259,827.00 111,176,740.06 0.00 0.00
   M     89,174,799.62  93,170,193.91  67,892,524.64  80,900,892.92 0.00 0.00
AL E    136,749,457.43 140,454,131.80 115,880,980.21 127,082,026.05 0.00 0.00
   M    486,058,192.08 503,469,286.11 434,563,402.64 468,717,204.86 0.00 0.00
AM E    273,258,322.19 267,850,697.96 234,235,412.04 263,974,344.68 0.00 0.00

Ano                          TOTAL
Mes       11   12
UF Ente
AC E    0.00 0.00   912,590,406.74
   M    0.00 0.00   667,622,808.99
AL E    0.00 0.00 1,114,087,789.21
   M    0.00 0.00 4,069,663,911.24
AM E    0.00 0.00 2,152,668,283.20

In [ ]:
from src.cacs_fundeb_analysis.data.ETL.transform.public_transfers.summaries import (
    get_pivot_table_resources,
)

get_pivot_table_resources(public_transfers_data).head(5)

Recurso               COUN_VAAF     COUN_VAAR      COUN_VAAT            FPE  \
Ano  Mes UF Ente
2025 1   AC E              0.00  2,417,878.87           0.00  74,535,794.07
            M              0.00  2,440,166.18  21,182,792.65  47,804,428.49
         AL E     50,394,771.87 11,824,690.17           0.00  37,926,246.73
            M    145,317,339.00 19,323,646.23 255,928,407.70 106,349,462.74
         AM E    199,665,716.93 14,927,693.48           0.00  42,044,472.10

Recurso                    FPM           ICMS        IPI         IPVA  \
Ano  Mes UF Ente
2025 1   AC E    11,673,450.53  17,166,637.90  13,191.88 1,418,922.10
            M     7,486,907.96  11,027,022.11   8,460.79   911,225.05
         AL E    21,236,420.30  39,540,062.37  35,776.89 2,862,432.15
            M    59,549,311.84 110,988,116.60 100,322.30 8,038,639.95
         AM E    25,294,813.74 116,505,215.31 263,131.93 5,890,166.14

Recurso                 ITCMD       ITR          TOTAL
Ano  Mes UF Ente
2025 1   AC E      128,714.58  4,245.68 107,358,835.61
            M       84,335.93  2,806.90  90,948,146.06
         AL E      406,189.93 29,324.06 164,255,914.47
            M    1,152,805.29 85,185.04 706,833,236.69
         AM E      453,831.09  5,111.56 405,050,152.28

In [ ]:
from src.cacs_fundeb_analysis.data.ETL.transform.public_transfers.summaries import (
    get_pivot_table_states,
)

get_pivot_table_states(public_transfers_data).head(5)

UF                        AC             AL             AM             AP  \
Ano  Mes Ente
2025 1   E    107,358,835.61 164,255,914.47 405,050,152.28  92,936,040.44
         M     90,948,146.06 706,833,236.69 833,392,440.36  71,832,410.07
     2   E    143,271,806.15 156,031,154.39 260,920,129.54 111,528,900.12
         M     98,081,530.90 512,596,002.13 461,297,160.90  83,964,756.21
     3   E    100,541,408.41 118,489,909.46 235,422,784.22  83,756,927.79

UF                          BA               CE             DF             ES  \
Ano  Mes Ente
2025 1   E      694,436,281.49   427,639,984.50 220,692,276.60 155,842,076.68
         M    2,827,552,699.61 1,963,758,078.13           0.00 380,433,898.05
     2   E      527,176,776.31   304,212,893.88 383,950,106.44 179,501,958.01
         M    1,748,172,288.40 1,146,770,252.02           0.00 384,569,455.72
     3   E      410,340,602.06   253,394,423.07 298,289,971.52 149,090,028.82

UF                        GO               MA  ...               RJ  \
Ano  Mes Ente                                  ...
2025 1   E    358,056,745.28   371,158,229.08  ...   420,450,443.86
         M    556,597,720.17 2,172,845,415.60  ... 1,287,684,548.83
     2   E    342,769,351.32   237,304,727.93  ...   360,028,434.72
         M    504,438,303.90 1,086,652,644.05  ... 1,064,190,325.14
     3   E    331,719,915.21   203,904,685.50  ...   348,593,333.78

UF                        RN             RO             RR             RS  \
Ano  Mes Ente
2025 1   E    132,266,569.41 143,736,455.84  70,784,795.65 545,677,703.46
         M    349,396,380.60 134,799,801.39  81,395,138.94 888,508,975.87
     2   E    143,886,288.34 146,340,515.48  93,696,114.56 501,554,245.03
         M    305,525,913.54 137,831,715.08 103,623,947.15 843,525,144.41
     3   E    115,885,048.72 133,665,945.17  66,773,229.94 446,328,253.14

UF                        SC             SE               SP             TO  \
Ano  Mes Ente
2025 1   E    384,530,984.04 115,589,739.01 2,764,857,778.50 132,967,410.17
         M    673,727,817.66 254,435,185.47 3,531,432,426.16 202,151,505.31
     2   E    412,392,580.10 134,467,542.36 2,354,379,667.57 140,676,312.66
         M    702,340,710.69 252,240,417.92 2,925,911,662.94 207,687,212.73
     3   E    380,017,001.29 103,014,701.18 2,247,305,499.42 106,250,170.50

UF                        TOTAL
Ano  Mes Ente
2025 1   E    11,463,937,870.19
         M    24,601,444,338.66
     2   E    10,511,348,302.93
         M    18,531,781,097.76
     3   E     9,156,659,807.52

[5 rows x 28 columns]

In [ ]:
from src.cacs_fundeb_analysis.data.ETL.transform.public_transfers.summaries import (
    get_pivot_table_state_levels,
)

get_pivot_table_state_levels(public_transfers_data).head(5)

Ente                     E                M            TOTAL
Ano  Mes UF
2025 1   AC 107,358,835.61    90,948,146.06   198,306,981.67
         AL 164,255,914.47   706,833,236.69   871,089,151.16
         AM 405,050,152.28   833,392,440.36 1,238,442,592.64
         AP  92,936,040.44    71,832,410.07   164,768,450.51
         BA 694,436,281.49 2,827,552,699.61 3,521,988,981.10

In [ ]:
from src.cacs_fundeb_analysis.data.ETL.transform.public_transfers.summaries import (
    get_uf_table_summary,
)

get_uf_table_summary(filtered_uf_public_transfers_data)

                    Valor_Bruto  Valor_Ajuste  Valor_Liquido  \
UF Ente Ano  Mes
AP E    2025 1    93,100,686.13   -164,645.69  92,936,040.44
             2   111,528,900.12          0.00 111,528,900.12
             3    83,756,927.79          0.00  83,756,927.79
             4    82,197,614.72          0.00  82,197,614.72
             5   104,109,388.73          0.00 104,109,388.73
             6   103,207,715.86          0.00 103,207,715.86
             7    69,479,194.07          0.00  69,479,194.07
             8    74,648,826.78          0.00  74,648,826.78
             9             0.00          0.00           0.00
             10            0.00          0.00           0.00
             11            0.00          0.00           0.00
             12            0.00          0.00           0.00

                  Valor_Liquido_Acumulado
UF Ente Ano  Mes
AP E    2025 1              92,936,040.44
             2             204,464,940.56
             3             288,221,868.35
             4             370,419,483.07
             5             474,528,871.80
             6             577,736,587.66
             7             647,215,781.73
             8             721,864,608.51
             9             721,864,608.51
             10            721,864,608.51
             11            721,864,608.51
             12            721,864,608.51

## Pipeline

In [ ]:
from src.cacs_fundeb_analysis.data.ETL.pipelines.public_transfers.pipeline import (
    run_public_transfers_pipeline,
)

run_public_transfers_pipeline("../data")

Pipeline de transferências públicas executado com sucesso!

# Bank remittance

## One sheet

In [ ]:
from src.cacs_fundeb_analysis.data.ETL.extract.bank_remittances.excel import (
    extract_excel_bank_remittance_data,
)
from src.cacs_fundeb_analysis.utils.file_paths import list_files_by_prefix_suffix

files_path = list_files_by_prefix_suffix("../data/raw/files/2025", prefix="2025RE")
files_path

raw_bank_remittance = extract_excel_bank_remittance_data(files_path[0])
raw_bank_remittance.head()

,OB,Unnamed: 1,Tipo,CNPJ/CPF,Favorecido,C/C Origem,Banco,Ag.,C/C,Valor,Cancelamento
0,2025OB00276,NaN,31.00,"394,577,000,125.00",GOVERNO DO ESTADO DO AMAPA,79332,104.00,658.00,"999,994.00","3,384,838.67",***********
1,2025OB00277,NaN,32.00,"26,158.00",BANCO DO BRASIL S/A,79332,1.00,"3,575.00","310,270,057.00","8,576,713.27",***********
2,2025OB00278,NaN,31.00,"61,573,796,000,166.00",ALLIANZ SEGUROS S.A,79332,237.00,"3,114.00","1,396,463.00",19.58,***********
3,2025OB00279,NaN,32.00,"37,880,010,000,179.00",ASPA MENSALIDADE,79332,1.00,"1,610.00","3,137,295.00",196.00,***********
4,2025OB00280,NaN,31.00,"759,231,000,183.00",ASPBRAS-ASSOC.DOS SERV.PUBLICOS BRASILEIROS.,79332,33.00,"2,136.00","130,009,700.00",93.00,***********

## All sheets

In [ ]:
from src.cacs_fundeb_analysis.data.ETL.extract.bank_remittances.excel import (
    extract_all_excel_bank_remittances_data,
)

raw_bank_remittance = extract_all_excel_bank_remittances_data(
    "../data", prefix="2025RE"
)
raw_bank_remittance.head()

,RE,OB,Unnamed: 1,Tipo,CNPJ/CPF,Favorecido,C/C Origem,Banco,Ag.,C/C,Valor,Cancelamento
0,2025RE00014,2025OB00276,NaN,31.00,"394,577,000,125.00",GOVERNO DO ESTADO DO AMAPA,79332,104.00,658.00,"999,994.00","3,384,838.67",***********
1,2025RE00014,2025OB00277,NaN,32.00,"26,158.00",BANCO DO BRASIL S/A,79332,1.00,"3,575.00","310,270,057.00","8,576,713.27",***********
2,2025RE00014,2025OB00278,NaN,31.00,"61,573,796,000,166.00",ALLIANZ SEGUROS S.A,79332,237.00,"3,114.00","1,396,463.00",19.58,***********
3,2025RE00014,2025OB00279,NaN,32.00,"37,880,010,000,179.00",ASPA MENSALIDADE,79332,1.00,"1,610.00","3,137,295.00",196.00,***********
4,2025RE00014,2025OB00280,NaN,31.00,"759,231,000,183.00",ASPBRAS-ASSOC.DOS SERV.PUBLICOS BRASILEIROS.,79332,33.00,"2,136.00","130,009,700.00",93.00,***********

In [ ]:
from src.cacs_fundeb_analysis.data.ETL.transform.bank_remittances.transform import (
    transform_bank_remittance_data,
)

transformed_bank_remittance = transform_bank_remittance_data(raw_bank_remittance)
transformed_bank_remittance

,RE,OB,TIPO,CNPJ/CPF,FAVORECIDO,C/C_ORIGEM,BANCO,AG,C/C,VALOR,CANCELAMENTO
0,2025RE00014,2025OB00276,31.00,"394,577,000,125.00",GOVERNO DO ESTADO DO AMAPA,79332,104.00,658.00,"999,994.00","3,384,838.67",<NA>
1,2025RE00014,2025OB00277,32.00,"26,158.00",BANCO DO BRASIL S/A,79332,1.00,"3,575.00","310,270,057.00","8,576,713.27",<NA>
2,2025RE00014,2025OB00278,31.00,"61,573,796,000,166.00",ALLIANZ SEGUROS S.A,79332,237.00,"3,114.00","1,396,463.00",19.58,<NA>
3,2025RE00014,2025OB00279,32.00,"37,880,010,000,179.00",ASPA MENSALIDADE,79332,1.00,"1,610.00","3,137,295.00",196.00,<NA>
4,2025RE00014,2025OB00280,31.00,"759,231,000,183.00",ASPBRAS-ASSOC.DOS SERV.PUBLICOS BRASILEIROS.,79332,33.00,"2,136.00","130,009,700.00",93.00,<NA>
...,...,...,...,...,...,...,...,...,...,...,...
0,2025RE00833,2025OB25336,31.00,"394,577,000,125.00",GOVERNO DO ESTADO DO AMAPA,79332,3.00,32.00,"1,960,220.00","1,078.32",NaN
1,2025RE00833,2025OB25337,31.00,"394,577,000,125.00",GOVERNO DO ESTADO DO AMAPA,79332,237.00,523.00,"295,396.00","83,262.48",NaN
2,2025RE00833,2025OB25338,31.00,"394,577,000,125.00",GOVERNO DO ESTADO DO AMAPA,79332,104.00,658.00,"999,960.00","110,621.82",NaN
3,2025RE00833,2025OB25339,31.00,"394,577,000,125.00",GOVERNO DO ESTADO DO AMAPA,79332,341.00,"1,138.00","64,348.00","77,842.65",NaN
4,2025RE00833,2025OB25340,31.00,"394,577,000,125.00",GOVERNO DO ESTADO DO AMAPA,79332,33.00,"3,191.00","290,000,519.00","53,901.01",NaN

## Summaries

In [ ]:
from src.cacs_fundeb_analysis.data.ETL.transform.bank_remittances.summaries import (
    list_bank_remittance_canceled,
)

canceled_bank_remittances = list_bank_remittance_canceled(transformed_bank_remittance)
canceled_bank_remittances

,RE,OB,TIPO,CNPJ/CPF,FAVORECIDO,C/C_ORIGEM,BANCO,AG,C/C,VALOR,CANCELAMENTO
18,2025RE00014,2025OB00298,32.00,"76,621,853,000,102.00",R.S.P.P.ASS.PREV.PRIVADA,79332,1.00,"3,392.00","47,023.00",111.18,2025GD00002
20,2025RE00061,2025OB01037,32.00,"76,621,853,000,102.00",R.S.P.P.ASS.PREV.PRIVADA,79332,1.00,"3,392.00","47,023.00",111.18,2025GD00009
11,2025RE00159,2025OB03991,32.00,"76,621,853,000,102.00",R.S.P.P.ASS.PREV.PRIVADA,79332,1.00,"3,392.00",47023,103.93,2025GD00027
12,2025RE00370,2025OB10922,32.00,"76,621,853,000,102.00",R.S.P.P.ASS.PREV.PRIVADA,79332,1.00,"3,392.00",47023,103.93,2025GD00955
7,2025RE00484,2025OB15074,32.00,"76,621,853,000,102.00",R.S.P.P.ASS.PREV.PRIVADA,79332,1.00,"3,392.00","47,023.00",103.93,2025GD00978
15,2025RE00633,2025OB18973,32.00,"76,621,853,000,102.00",R.S.P.P.ASS.PREV.PRIVADA,79332,1.00,"3,392.00",47023,103.93,2025GD01012
15,2025RE00739,2025OB21913,32.00,"76,621,853,000,102.00",R.S.P.P.ASS.PREV.PRIVADA,79332,1.00,"3,392.00",47023,103.93,2025GD01019
TOTAL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,742.01,NaN

## Pipeline

In [ ]:
from src.cacs_fundeb_analysis.data.ETL.pipelines.bank_remittances.pipeline import (
    run_bank_remittance_pipeline,
)

run_bank_remittance_pipeline("../data", 2025)

Pipeline de remessas executado com sucesso!

# Accountability

## Creditor accounting

In [ ]:
from src.cacs_fundeb_analysis.data.ETL.extract.accounting.creditor.excel import (
    extract_excel_creditor_accounting_data,
)

raw_accounting_data = extract_excel_creditor_accounting_data("../data", 4)
raw_accounting_data.head()

,Unidade Gestora / Unidade Orçamentária / Ação,Natureza,Fonte,Nota de Empenho,Nota de Liquidação,PD,OB,Credor,Dotação Inicial,Dotação Atualizada,Despesas Empenhadas,Despesas Liquidadas,Despesas do Exercício Pagas,Despesas Pagas RAP
0,280101 - SECRETARIA DE ESTADO DA EDUCAÇÃO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"1,050,000,000.00","1,050,000,000.00","687,102,892.85","687,102,892.85","643,024,870.86","80,518.53"
1,28101 - SECRETARIA DE ESTADO DA EDUCAÇÃO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"1,050,000,000.00","1,050,000,000.00","687,102,892.85","687,102,892.85","643,024,870.86","80,518.53"
2,2214 - REMUNERAÇÃO E ENCARGOS DOS PROFIS...,319011 - Vencimentos e Vantagens Fixas - Pesso...,540 - Transferências do FUNDEB - Impostos e Tr...,2024NE00355,2024NL01198,2025PD00318,2025OB00292,PF0000023 - FOLHA DE PAGAMENTO,0.00,0.00,0.00,0.00,0.00,84
3,NaN,NaN,NaN,2024NE21255,2024NL21313,2025PD00748,2025OB00806,PF0000023 - FOLHA DE PAGAMENTO,0.00,0.00,0.00,0.00,0.00,333.78
4,NaN,NaN,NaN,NaN,NaN,2025PD01304,2025OB03433,PF0000023 - FOLHA DE PAGAMENTO,0.00,0.00,0.00,0.00,0.00,333.78

In [ ]:
from src.cacs_fundeb_analysis.data.ETL.transform.accounting.creditors.transform import (
    transform_creditor_accounting_data,
)

transformed_accounting_data = transform_creditor_accounting_data(raw_accounting_data)
transformed_accounting_data.head()

,Unidade Gestora / Unidade Orçamentária / Ação,Natureza,Fonte,Nota de Empenho,Nota de Liquidação,PD,OB,Credor,Dotação Inicial,Dotação Atualizada,Despesas Empenhadas,Despesas Liquidadas,Despesas do Exercício Pagas,Despesas Pagas RAP,Restos a Pagar do Exercício,RAP do Exercício Processados,RAP do Exercício Não Processados,Classificação
2,2214 - REMUNERAÇÃO E ENCARGOS DOS PROFIS...,319011 - Vencimentos e Vantagens Fixas - Pesso...,540 - Transferências do FUNDEB - Impostos e Tr...,2024NE00355,2024NL01198,2025PD00318,2025OB00292,PF0000023 - FOLHA DE PAGAMENTO,0.00,0.00,0.00,0.00,0.00,84.00,0.00,0.00,0.00,Despesas com Remuneração dos Profissionais da ...
3,2214 - REMUNERAÇÃO E ENCARGOS DOS PROFIS...,319011 - Vencimentos e Vantagens Fixas - Pesso...,540 - Transferências do FUNDEB - Impostos e Tr...,2024NE21255,2024NL21313,2025PD00748,2025OB00806,PF0000023 - FOLHA DE PAGAMENTO,0.00,0.00,0.00,0.00,0.00,333.78,0.00,0.00,0.00,Despesas com Remuneração dos Profissionais da ...
4,2214 - REMUNERAÇÃO E ENCARGOS DOS PROFIS...,319011 - Vencimentos e Vantagens Fixas - Pesso...,540 - Transferências do FUNDEB - Impostos e Tr...,2024NE21255,2024NL21313,2025PD01304,2025OB03433,PF0000023 - FOLHA DE PAGAMENTO,0.00,0.00,0.00,0.00,0.00,333.78,0.00,0.00,0.00,Despesas com Remuneração dos Profissionais da ...
5,2214 - REMUNERAÇÃO E ENCARGOS DOS PROFIS...,319011 - Vencimentos e Vantagens Fixas - Pesso...,540 - Transferências do FUNDEB - Impostos e Tr...,2024NE24054,2024NL24044,2025PD00693,2025OB00805,PF0000023 - FOLHA DE PAGAMENTO,0.00,0.00,0.00,0.00,0.00,333.78,0.00,0.00,0.00,Despesas com Remuneração dos Profissionais da ...
6,2214 - REMUNERAÇÃO E ENCARGOS DOS PROFIS...,319011 - Vencimentos e Vantagens Fixas - Pesso...,540 - Transferências do FUNDEB - Impostos e Tr...,2024NE24054,2024NL24044,2025PD01305,2025OB03434,PF0000023 - FOLHA DE PAGAMENTO,0.00,0.00,0.00,0.00,0.00,333.78,0.00,0.00,0.00,Despesas com Remuneração dos Profissionais da ...

## Monthly accounting

In [ ]:
from src.cacs_fundeb_analysis.data.ETL.extract.accounting.monthly.excel import (
    extract_excel_monthly_accounting_data,
)

raw_monthly_accounting_data = extract_excel_monthly_accounting_data("../data", 4)
raw_monthly_accounting_data.head()

,Unidade Gestora / Unidade Orçamentária / Ação,Natureza,Fonte,Nota de Empenho,Nota de Liquidação,PD,OB,Credor,Domicílio Bancário de Origem,2 - Fevereiro,3 - Março,4 - Abril,5 - Maio,6 - Junho,7 - Julho,8 - Agosto,Total
0,280101 - SECRETARIA DE ESTADO DA EDUCAÇÃO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"90,916,811.30","109,162,242.39","75,751,224.14","42,252,407.81","147,168,245.16","98,890,426.91","78,964,031.68","643,105,389.39"
1,28101 - SECRETARIA DE ESTADO DA EDUCAÇÃO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"90,916,811.30","109,162,242.39","75,751,224.14","42,252,407.81","147,168,245.16","98,890,426.91","78,964,031.68","643,105,389.39"
2,2214 - REMUNERAÇÃO E ENCARGOS DOS PROFIS...,319011 - Vencimentos e Vantagens Fixas - Pesso...,540 - Transferências do FUNDEB - Impostos e Tr...,2024NE00355,2024NL01198,2025PD00318,2025OB00292,PF0000023 - FOLHA DE PAGAMENTO,001 - 3575 - 79332,84.00,0.00,0.00,0.00,0.00,0.00,0.00,84
3,NaN,NaN,NaN,2024NE21255,2024NL21313,2025PD00748,2025OB00806,PF0000023 - FOLHA DE PAGAMENTO,001 - 3575 - 79332,333.78,0.00,0.00,0.00,0.00,0.00,0.00,333.78
4,NaN,NaN,NaN,NaN,NaN,2025PD01304,2025OB03433,PF0000023 - FOLHA DE PAGAMENTO,001 - 3575 - 79332,0.00,333.78,0.00,0.00,0.00,0.00,0.00,333.78

In [ ]:
from src.cacs_fundeb_analysis.data.ETL.transform.accounting.monthly.transform import (
    transform_monthly_accounting_data,
)

transformed_monthly_accounting = transform_monthly_accounting_data(
    raw_monthly_accounting_data
)
transformed_monthly_accounting.head()

,Unidade Gestora / Unidade Orçamentária / Ação,Natureza,Fonte,Nota de Empenho,Nota de Liquidação,PD,OB,Credor,Domicílio Bancário de Origem,2 - Fevereiro,3 - Março,4 - Abril,5 - Maio,6 - Junho,7 - Julho,8 - Agosto,Total
2,2214 - REMUNERAÇÃO E ENCARGOS DOS PROFIS...,319011 - Vencimentos e Vantagens Fixas - Pesso...,540 - Transferências do FUNDEB - Impostos e Tr...,2024NE00355,2024NL01198,2025PD00318,2025OB00292,PF0000023 - FOLHA DE PAGAMENTO,001 - 3575 - 79332,84.00,0.00,0.00,0.00,0.00,0.00,0.00,84.00
3,2214 - REMUNERAÇÃO E ENCARGOS DOS PROFIS...,319011 - Vencimentos e Vantagens Fixas - Pesso...,540 - Transferências do FUNDEB - Impostos e Tr...,2024NE21255,2024NL21313,2025PD00748,2025OB00806,PF0000023 - FOLHA DE PAGAMENTO,001 - 3575 - 79332,333.78,0.00,0.00,0.00,0.00,0.00,0.00,333.78
4,2214 - REMUNERAÇÃO E ENCARGOS DOS PROFIS...,319011 - Vencimentos e Vantagens Fixas - Pesso...,540 - Transferências do FUNDEB - Impostos e Tr...,2024NE21255,2024NL21313,2025PD01304,2025OB03433,PF0000023 - FOLHA DE PAGAMENTO,001 - 3575 - 79332,0.00,333.78,0.00,0.00,0.00,0.00,0.00,333.78
5,2214 - REMUNERAÇÃO E ENCARGOS DOS PROFIS...,319011 - Vencimentos e Vantagens Fixas - Pesso...,540 - Transferências do FUNDEB - Impostos e Tr...,2024NE24054,2024NL24044,2025PD00693,2025OB00805,PF0000023 - FOLHA DE PAGAMENTO,001 - 3575 - 79332,333.78,0.00,0.00,0.00,0.00,0.00,0.00,333.78
6,2214 - REMUNERAÇÃO E ENCARGOS DOS PROFIS...,319011 - Vencimentos e Vantagens Fixas - Pesso...,540 - Transferências do FUNDEB - Impostos e Tr...,2024NE24054,2024NL24044,2025PD01305,2025OB03434,PF0000023 - FOLHA DE PAGAMENTO,001 - 3575 - 79332,0.00,333.78,0.00,0.00,0.00,0.00,0.00,333.78

## Summaries

In [ ]:
from src.cacs_fundeb_analysis.data.ETL.transform.accounting.creditors.summaries import (
    get_budget_summary,
)

budget_summary = get_budget_summary(transformed_accounting_data)
budget_summary

,Ordem,Fase Orçamentária,Despesas com Remuneração dos Profissionais da Educação Básica,Outras Despesas,TOTAL
0,0.00,Dotação Inicial,"1,010,887,165.00","39,112,835.00","1,050,000,000.00"
1,1.00,Dotação Atualizada,"1,010,887,165.00","39,112,835.00","1,050,000,000.00"
2,2.00,Despesas Empenhadas,"661,778,437.00","25,324,455.85","687,102,892.85"
3,3.00,Despesas Liquidadas,"661,778,437.00","25,324,455.85","687,102,892.85"
4,4.00,Despesas do Exercício Pagas,"617,700,415.01","25,324,455.85","643,024,870.86"
5,5.00,Despesas Pagas RAP,"80,518.53",0.00,"80,518.53"
6,6.00,Restos a Pagar do Exercício,"44,078,021.99",0.00,"44,078,021.99"
7,6.10,RAP do Exercício Processados,"44,078,021.99",0.00,"44,078,021.99"
8,6.20,RAP do Exercício Não Processados,0.00,0.00,0.00

In [ ]:
from src.cacs_fundeb_analysis.data.ETL.transform.accounting.creditors.summaries import (
    get_accounting_summary,
)

accounting_summary = get_accounting_summary(transformed_accounting_data)
accounting_summary

,Classificação,Natureza,Dotação Atualizada,Despesas Empenhadas,Despesas Liquidadas,Despesas do Exercício Pagas,Despesas Pagas RAP,Restos a Pagar do Exercício,RAP do Exercício Processados,RAP do Exercício Não Processados
0,Despesas com Remuneração dos Profissionais da ...,319011 - Vencimentos e Vantagens Fixas - Pesso...,"876,350,585.00","574,112,895.56","574,112,895.56","538,470,257.17","22,444.68","35,642,638.39","35,642,638.39",0.00
1,Despesas com Remuneração dos Profissionais da ...,319013 - Obrigações Patronais,"536,650.00","416,529.71","416,529.71","367,059.73","58,073.85","49,469.98","49,469.98",0.00
2,Despesas com Remuneração dos Profissionais da ...,319016 - Outras Despesas Variáveis - Pessoal C...,"3,831,860.00","3,246,302.47","3,246,302.47","3,246,302.47",0.00,0.00,0.00,0.00
3,Despesas com Remuneração dos Profissionais da ...,319094 - Indenizações e Restituições Trabalhis...,"22,030,000.00","19,012,649.09","19,012,649.09","19,012,649.09",0.00,0.00,0.00,0.00
4,Despesas com Remuneração dos Profissionais da ...,319113 - Obrigações Patronais,"108,138,070.00","64,990,060.17","64,990,060.17","56,604,146.55",0.00,"8,385,913.62","8,385,913.62",0.00
5,Outras Despesas,339046 - Auxílio-Alimentação,"39,112,835.00","25,324,455.85","25,324,455.85","25,324,455.85",0.00,0.00,0.00,0.00
6,TOTAL,,"1,050,000,000.00","687,102,892.85","687,102,892.85","643,024,870.86","80,518.53","44,078,021.99","44,078,021.99",0.00

In [ ]:
from src.cacs_fundeb_analysis.data.ETL.transform.accounting.creditors.summaries import (
    get_filter_accounting_summary,
)

payroll_accounting_summary = get_filter_accounting_summary(accounting_summary, 0)
payroll_accounting_summary

,Classificação,Natureza,Dotação Atualizada,Despesas Empenhadas,Despesas Liquidadas,Despesas do Exercício Pagas,Despesas Pagas RAP,Restos a Pagar do Exercício,RAP do Exercício Processados,RAP do Exercício Não Processados
0,Despesas com Remuneração dos Profissionais da ...,319011 - Vencimentos e Vantagens Fixas - Pesso...,"876,350,585.00","574,112,895.56","574,112,895.56","538,470,257.17","22,444.68","35,642,638.39","35,642,638.39",0.00
1,Despesas com Remuneração dos Profissionais da ...,319013 - Obrigações Patronais,"536,650.00","416,529.71","416,529.71","367,059.73","58,073.85","49,469.98","49,469.98",0.00
2,Despesas com Remuneração dos Profissionais da ...,319016 - Outras Despesas Variáveis - Pessoal C...,"3,831,860.00","3,246,302.47","3,246,302.47","3,246,302.47",0.00,0.00,0.00,0.00
3,Despesas com Remuneração dos Profissionais da ...,319094 - Indenizações e Restituições Trabalhis...,"22,030,000.00","19,012,649.09","19,012,649.09","19,012,649.09",0.00,0.00,0.00,0.00
4,Despesas com Remuneração dos Profissionais da ...,319113 - Obrigações Patronais,"108,138,070.00","64,990,060.17","64,990,060.17","56,604,146.55",0.00,"8,385,913.62","8,385,913.62",0.00
5,Despesas com Remuneração dos Profissionais da ...,TOTAL,"1,010,887,165.00","661,778,437.00","661,778,437.00","617,700,415.01","80,518.53","44,078,021.99","44,078,021.99",0.00

In [ ]:
from src.cacs_fundeb_analysis.data.ETL.transform.accounting.creditors.summaries import (
    get_filter_accounting_summary,
)

others_expenses_accounting_summary = get_filter_accounting_summary(
    accounting_summary, 1
)
others_expenses_accounting_summary

,Classificação,Natureza,Dotação Atualizada,Despesas Empenhadas,Despesas Liquidadas,Despesas do Exercício Pagas,Despesas Pagas RAP,Restos a Pagar do Exercício,RAP do Exercício Processados,RAP do Exercício Não Processados
0,Outras Despesas,339046 - Auxílio-Alimentação,"39,112,835.00","25,324,455.85","25,324,455.85","25,324,455.85",0.00,0.00,0.00,0.00
1,Outras Despesas,TOTAL,"39,112,835.00","25,324,455.85","25,324,455.85","25,324,455.85",0.00,0.00,0.00,0.00

## Pipeline

In [ ]:
from src.cacs_fundeb_analysis.data.ETL.pipelines.accounting.pipeline import (
    run_accounting_data_pipeline,
)

run_accounting_data_pipeline("../data", 2025, 4)

Pipeline contábil/orçamentário executado com sucesso!

# Payroll

## Gross payroll

### One sheet

In [60]:
from src.cacs_fundeb_analysis.utils.file_paths import list_files_by_prefix_suffix

file_path = list_files_by_prefix_suffix("../data/raw/files/2025", "Folha_")[0]
file_path

'../data/raw/files/2025\\Bimestre_01\\01\\Folhas\\Folha_Férias_Normal_Comp_25_01_Pgto_25_01.xlsx'

In [ ]:
from src.cacs_fundeb_analysis.data.ETL.extract.payrolls.gross_payroll.excel import (
    extract_excel_payroll_data,
)

raw_payroll = extract_excel_payroll_data(file_path)
raw_payroll

,Matrícula,Nome,Unidade Organizacional,Cargo,Índice,Valor,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,0041869-2-01,ABDIAS RODRIGUES FERREIRA,E. E. PROFª MARIA DE NAZARE RODRIGUES DA SILVA,PROFESSOR CLASSE C2 -40HS,NaN,"4,097.77",NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0061274-0-01,ABDINEL RODRIGUES FERREIRA,E. E. ANTONIO CORDEIRO PONTES,PROFESSOR CLASSE C2 -40HS,NaN,"3,394.20",NaN,NaN,NaN
3,0098092-7-01,ABDORAL BARBOSA DE OLIVEIRA NETO,E. E. PROFª DENISE DE MELO VASCONCELOS,PROFESSOR CLASSE A1-40HS,NaN,"1,999.84",NaN,NaN,NaN
4,0041488-3-01,ABGAIL DOS SANTOS NASCIMENTO BRUNO,E. E. PROFª HELENIZE WALMIRA DIAS DOS SANTOS,PROFESSOR CLASSE C2 -40HS,NaN,"3,997.77",NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
7349,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7350,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7351,NaN,SIGRH – Sistema Integrado de Gestão de Recurso...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7352,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7353,NaN,Relatório Emitido em 11/04/2025 às 12:09:31 po...,NaN,Página: 241 de 241,NaN,NaN,NaN,NaN,NaN

### All sheets

In [ ]:
from src.cacs_fundeb_analysis.data.ETL.extract.payrolls.gross_payroll.excel import (
    extract_all_excel_payroll_data,
)

raw_payroll_data = extract_all_excel_payroll_data("../data", 2025)
raw_payroll_data

,level_0,level_1,Matrícula,Nome,Unidade Organizacional,Cargo,Índice,Valor,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,Folha_Férias_Normal_Comp_25_01_Pgto_25_01,0,0041869-2-01,ABDIAS RODRIGUES FERREIRA,E. E. PROFª MARIA DE NAZARE RODRIGUES DA SILVA,PROFESSOR CLASSE C2 -40HS,NaN,"4,097.77",NaN,NaN,NaN,NaN,NaN,NaN
1,Folha_Férias_Normal_Comp_25_01_Pgto_25_01,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Folha_Férias_Normal_Comp_25_01_Pgto_25_01,2,0061274-0-01,ABDINEL RODRIGUES FERREIRA,E. E. ANTONIO CORDEIRO PONTES,PROFESSOR CLASSE C2 -40HS,NaN,"3,394.20",NaN,NaN,NaN,NaN,NaN,NaN
3,Folha_Férias_Normal_Comp_25_01_Pgto_25_01,3,0098092-7-01,ABDORAL BARBOSA DE OLIVEIRA NETO,E. E. PROFª DENISE DE MELO VASCONCELOS,PROFESSOR CLASSE A1-40HS,NaN,"1,999.84",NaN,NaN,NaN,NaN,NaN,NaN
4,Folha_Férias_Normal_Comp_25_01_Pgto_25_01,4,0041488-3-01,ABGAIL DOS SANTOS NASCIMENTO BRUNO,E. E. PROFª HELENIZE WALMIRA DIAS DOS SANTOS,PROFESSOR CLASSE C2 -40HS,NaN,"3,997.77",NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104655,Folha_Mensal_Normal_Comp_25_08_Pgto_25_08,8452,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
104656,Folha_Mensal_Normal_Comp_25_08_Pgto_25_08,8453,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
104657,Folha_Mensal_Normal_Comp_25_08_Pgto_25_08,8454,NaN,SIGRH – Sistema Integrado de Gestão de Recurso...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
104658,Folha_Mensal_Normal_Comp_25_08_Pgto_25_08,8455,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
104659,Folha_Mensal_Normal_Comp_25_08_Pgto_25_08,8456,NaN,Relatório Emitido em 16/09/2025 às 11:17:34 po...,NaN,NaN,NaN,NaN,Página: 282 de 282,NaN,NaN,NaN,NaN,NaN

### Transform

In [ ]:
from src.cacs_fundeb_analysis.data.ETL.transform.payrolls.gross_payroll.transform import (
    transform_payroll_data,
)

transformed_payroll_data = transform_payroll_data(
    raw_payroll_data,
    "../src/cacs_fundeb_analysis/ETL/transform/payrolls/gross_payroll/occupation_classification.json",
    "../src/cacs_fundeb_analysis/ETL/transform/payrolls/gross_payroll/allocation_classification.json",
)
transformed_payroll_data

,Folha,Tipo_Folha,Competência,Pagamento,Matricula,Nome,Unidade,Classificação_lotação,Cargo,Classificação_cargo,Indice,Valor
0,Férias,Normal,25-01,25-01,0041869-2-01,ABDIAS RODRIGUES FERREIRA,E. E. PROFª MARIA DE NAZARE RODRIGUES DA SILVA,UNIDADE ESCOLAR,PROFESSOR CLASSE C2 -40HS,PROFESSOR(A),NaN,"4,097.77"
2,Férias,Normal,25-01,25-01,0061274-0-01,ABDINEL RODRIGUES FERREIRA,E. E. ANTONIO CORDEIRO PONTES,UNIDADE ESCOLAR,PROFESSOR CLASSE C2 -40HS,PROFESSOR(A),NaN,"3,394.20"
3,Férias,Normal,25-01,25-01,0098092-7-01,ABDORAL BARBOSA DE OLIVEIRA NETO,E. E. PROFª DENISE DE MELO VASCONCELOS,UNIDADE ESCOLAR,PROFESSOR CLASSE A1-40HS,PROFESSOR(A),NaN,"1,999.84"
4,Férias,Normal,25-01,25-01,0041488-3-01,ABGAIL DOS SANTOS NASCIMENTO BRUNO,E. E. PROFª HELENIZE WALMIRA DIAS DOS SANTOS,UNIDADE ESCOLAR,PROFESSOR CLASSE C2 -40HS,PROFESSOR(A),NaN,"3,997.77"
6,Férias,Normal,25-01,25-01,0113814-6-01,ABIMAEL BARBOSA CHAGAS,E. E. EDGAR LINO DA SILVA,UNIDADE ESCOLAR,PROFESSOR CLASSE C2 -40HS,PROFESSOR(A),NaN,"2,674.64"
...,...,...,...,...,...,...,...,...,...,...,...,...
104645,Mensal,Normal,25-08,25-08,0043248-2-01,ZORAIDE OLIVEIRA PEREIRA,E. E. BARAO DO RIO BRANCO,UNIDADE ESCOLAR,SEM DESCRIÇÃO,SEM DESCRIÇÃO,NaN,"12,857.30"
104646,Mensal,Normal,25-08,25-08,0031987-2-01,ZULEIDE PICANCO DA SILVA,E. E. DOM ARISTIDES PIROVANO,UNIDADE ESCOLAR,SEM DESCRIÇÃO,SEM DESCRIÇÃO,NaN,"15,956.43"
104647,Mensal,Normal,25-08,25-08,0088793-5-01,ZULEIDE REINALDO MOURA,E. E. SANTA MARIA URBANO,UNIDADE ESCOLAR,SEM DESCRIÇÃO,SEM DESCRIÇÃO,NaN,"7,495.34"
104648,Mensal,Normal,25-08,25-08,0085324-0-01,ZULENA MARIA BENTES DA MODA,E.E. PROFª MARLY MARIA E SOUZA DA SILVA,UNIDADE ESCOLAR,SEM DESCRIÇÃO,SEM DESCRIÇÃO,NaN,"8,194.87"
104649,Mensal,Normal,25-08,25-08,0041988-5-01,ZULMIRA NAZARE RODRIGUES GUIMARAES,E. E. PROFª MARIA HELENA CORDEIRO,UNIDADE ESCOLAR,SEM DESCRIÇÃO,SEM DESCRIÇÃO,NaN,"10,099.71"

### Summaries

In [ ]:
from src.cacs_fundeb_analysis.data.ETL.transform.payrolls.gross_payroll.summaries import (
    get_payrolls_summary,
)

payrolls_summary = get_payrolls_summary(transformed_payroll_data)
payrolls_summary

,Pagamento,Folha,Tipo_Folha,Competência,VALOR,QTD,TOTAL_VALOR_ACUMULADO
0,25-01,Férias,Normal,25-01,"16,194,469.56",5034,"16,194,469.56"
1,25-01,Mensal,Normal,25-01,"66,836,307.40",7449,"83,030,776.96"
2,25-02,Mensal,Normal,25-02,"66,964,633.33",7429,"149,995,410.29"
3,25-03,Mensal,Normal,25-03,"66,585,622.40",7413,"216,581,032.69"
4,25-04,Mensal,Normal,25-04,"69,627,319.66",7359,"286,208,352.35"
5,25-05,Mensal,Normal,25-05,"70,701,017.35",7382,"356,909,369.70"
6,25-05,Mensal,Suplementar,25-04,"86,939.79",170,"356,996,309.49"
7,25-06,Adiantamento,13,25-06,"31,778,758.70",7005,"388,775,068.19"
8,25-06,Mensal,Normal,25-06,"71,998,604.14",7399,"460,773,672.33"
9,25-07,Ferias,Normal,25-06,"19,164,683.40",5848,"479,938,355.73"
10,25-07,Mensal,Normal,25-07,"71,612,691.27",7380,"551,551,047.00"
11,25-08,Mensal,Normal,25-08,"70,620,149.86",7398,"622,171,196.86"

In [ ]:
from src.cacs_fundeb_analysis.data.ETL.transform.payrolls.gross_payroll.summaries import (
    get_monthly_payroll_summary,
)

monthly_payroll_summary = get_monthly_payroll_summary(payrolls_summary)
monthly_payroll_summary

                     VALOR    QTD  TOTAL_VALOR_ACUMULADO
Competência
25-01        83,030,776.96  12483          83,030,776.96
25-02        66,964,633.33   7429         149,995,410.29
25-03        66,585,622.40   7413         216,581,032.69
25-04        69,714,259.45   7529         286,295,292.14
25-05        70,701,017.35   7382         356,996,309.49
25-06       122,942,046.24  20252         479,938,355.73
25-07        71,612,691.27   7380         551,551,047.00
25-08        70,620,149.86   7398         622,171,196.86

In [ ]:
from src.cacs_fundeb_analysis.data.ETL.transform.payrolls.gross_payroll.summaries import (
    get_categorical_payroll_summary,
)

occupation_financial_summary = get_categorical_payroll_summary(
    transformed_payroll_data, "financial", "occupation"
)
occupation_financial_summary

,CARGO,25-01,25-02,25-03,25-04,25-05,25-06,25-07,25-08,TOTAL,MEDIANA,MÉDIA
0,AUXILIAR ADMINISTRATIVO,"481,122.43","476,393.86","467,123.02","482,834.38","480,913.53","728,586.86",0.00,0.00,"3,116,974.08","478,653.70","389,621.76"
1,AUXILIAR EDUCACIONAL,"486,480.64","487,773.11","478,116.19","492,047.85","487,992.46","750,026.37",0.00,0.00,"3,182,436.62","487,126.88","397,804.58"
2,CUIDADOR,"688,437.70","809,010.62","809,010.64","852,494.40","848,817.70","1,297,556.04",0.00,0.00,"5,305,327.10","809,010.63","663,165.89"
3,DIRETOR,"2,213,181.75","2,173,917.12","2,181,644.65","2,275,787.24","2,310,311.04","3,490,169.24",0.00,0.00,"14,645,011.04","2,197,413.20","1,830,626.38"
4,ESPECIALISTA EM EDUCAÇÃO,"514,059.36","445,258.01","445,794.42","464,500.74","544,419.72","804,927.04",0.00,0.00,"3,218,959.29","455,147.58","402,369.91"
5,GERENTE,"6,929.69","18,928.53","31,236.67",0.00,0.00,0.00,0.00,0.00,"57,094.89",0.00,"7,136.86"
6,GRATIFICAÇÃO DESTINO,0.00,0.00,"3,600.00",0.00,0.00,532.35,0.00,0.00,"4,132.35",0.00,516.54
7,INSTRUTOR,"57,784.02","43,963.03","43,963.03","44,173.45","39,474.50","58,211.77",0.00,0.00,"287,569.80","43,963.03","35,946.23"
8,INTERPRETE DE LIBRAS,"34,529.81","34,529.81","34,529.81","36,475.39","31,264.62","45,396.96",0.00,0.00,"216,726.40","34,529.81","27,090.80"
9,PEDAGOGO,"4,242,829.85","3,612,008.55","3,591,956.27","3,783,927.05","3,844,070.10","5,629,273.98",0.00,0.00,"24,704,065.80","3,697,967.80","3,088,008.23"
10,PRESIDÊNCIA,0.00,"23,468.68",0.00,0.00,0.00,0.00,0.00,0.00,"23,468.68",0.00,"2,933.59"
11,PROFESSOR(A),"70,409,060.36","54,729,492.83","54,542,162.66","57,366,019.28","58,239,762.81","86,515,973.57",0.00,0.00,"381,802,471.51","56,047,756.05","47,725,308.94"
12,RESPONSÁVEL,"5,894.28","7,647.90",694.37,694.37,"5,713.55","9,944.11",0.00,0.00,"30,588.58","3,203.96","3,823.57"
13,SECRETARIO ESCOLAR,"1,246,952.00","1,255,086.97","1,268,771.71","1,316,621.65","1,282,461.50","1,974,931.08",0.00,0.00,"8,344,824.91","1,261,929.34","1,043,103.11"
14,SEM DESCRIÇÃO,"2,643,515.07","2,847,154.31","2,687,018.96","2,598,683.65","2,585,815.82","21,636,516.87","71,612,691.27","70,620,149.86","177,231,545.81","2,767,086.63","22,153,943.23"
15,TOTAL,"83,030,776.96","66,964,633.33","66,585,622.40","69,714,259.45","70,701,017.35","122,942,046.24","71,612,691.27","70,620,149.86","622,171,196.86","70,660,583.60","77,771,399.61"

In [ ]:
from src.cacs_fundeb_analysis.data.ETL.transform.payrolls.gross_payroll.summaries import (
    get_categorical_payroll_summary,
)

occupation_quantitative_summary = get_categorical_payroll_summary(
    transformed_payroll_data, "quantitative", "occupation"
)
occupation_quantitative_summary

,CARGO,25-01,25-02,25-03,25-04,25-05,25-06,25-07,25-08,TOTAL,MEDIANA,MÉDIA
0,AUXILIAR ADMINISTRATIVO,81,80,79,78,77,150,0,0,545,78.50,68.12
1,AUXILIAR EDUCACIONAL,105,105,102,100,100,197,0,0,709,101.00,88.62
2,CUIDADOR,230,232,232,232,231,460,0,0,1617,231.50,202.12
3,DIRETOR,299,290,291,290,293,586,0,0,2049,290.50,256.12
4,ESPECIALISTA EM EDUCAÇÃO,102,51,51,50,58,116,0,0,428,51.00,53.50
5,GERENTE,1,2,2,0,0,0,0,0,5,0.00,0.62
6,GRATIFICAÇÃO DESTINO,0,0,6,0,0,2,0,0,8,0.00,1.00
7,INSTRUTOR,12,6,6,6,5,10,0,0,45,6.00,5.62
8,INTERPRETE DE LIBRAS,7,7,7,7,6,12,0,0,46,7.00,5.75
9,PEDAGOGO,706,454,450,447,452,899,0,0,3408,451.00,426.00
10,PRESIDÊNCIA,0,1,0,0,0,0,0,0,1,0.00,0.12
11,PROFESSOR(A),10485,5720,5689,5656,5660,11311,0,0,44521,"5,674.50","5,565.12"
12,RESPONSÁVEL,2,2,1,1,2,4,0,0,12,1.50,1.50
13,SECRETARIO ESCOLAR,157,155,157,155,152,304,0,0,1080,155.00,135.00
14,SEM DESCRIÇÃO,296,324,340,507,346,6201,7380,7398,22792,426.50,"2,849.00"
15,TOTAL,12483,7429,7413,7529,7382,20252,7380,7398,77266,"7,421.00","9,658.25"

In [ ]:
from src.cacs_fundeb_analysis.data.ETL.transform.payrolls.gross_payroll.summaries import (
    get_categorical_payroll_summary,
)

workplace_financial_summary = get_categorical_payroll_summary(
    transformed_payroll_data, "financial", "workplace"
)
workplace_financial_summary

,LOTAÇÃO,25-01,25-02,25-03,25-04,25-05,25-06,25-07,25-08,TOTAL,MEDIANA,MÉDIA
0,CENTROS EDUCACIONAIS,"4,809,720.82","3,831,360.44","3,812,156.38","3,995,054.56","4,670,164.92","8,260,223.99","4,699,935.40","4,689,879.89","38,768,496.40","4,680,022.40","4,846,062.05"
1,CONSELHOS,"13,736.71","29,843.57","11,127.43","11,762.43","16,781.61","19,296.89","14,324.15","5,713.55","122,586.34","14,030.43","15,323.29"
2,COORDENADORIAS,"10,045.29","7,268.90","10,868.90","9,105.13",0.00,0.00,0.00,"9,802.17","47,090.39","8,187.01","5,886.30"
3,NUCLEOS,"135,929.52","56,367.36","38,878.40","9,027.03","11,052.51","19,503.12","20,631.58",0.00,"291,389.52","20,067.35","36,423.69"
4,POLO UNIVERSITARIO EQUADOR- MACAPA,0.00,0.00,0.00,0.00,0.00,"14,535.62","11,026.72",0.00,"25,562.34",0.00,"3,195.29"
5,SECRETARIA,"47,238.84","72,038.47","24,515.74","11,087.35",0.00,0.00,0.00,0.00,"154,880.40","5,543.68","19,360.05"
6,SEM DESCRIÇÃO,"2,643,515.07","2,847,154.31","2,687,018.96","2,511,743.86","2,585,815.82","2,484,966.79","2,289,072.98","2,121,106.42","20,170,394.21","2,548,779.84","2,521,299.28"
7,UNIDADE DE CONTROLE DE LOTACAO E MOVIMENTACAO ...,"7,854.43",0.00,0.00,"6,243.25",0.00,"6,631.14","9,070.93",0.00,"29,799.75","3,121.62","3,724.97"
8,UNIDADE DE CONTROLE DE LOTACAO E MOVIMENTACAO ...,"45,118.50","22,904.05","46,636.55","55,856.09","20,407.42","9,703.72",0.00,"13,731.36","214,357.69","21,655.74","26,794.71"
9,UNIDADE DE CONTROLE DE LOTACAO E MOVIMENTACAO ...,"42,060.74","53,806.70","71,920.67",0.00,"31,205.91","85,880.28","37,686.80","5,019.18","327,580.28","39,873.77","40,947.53"
10,UNIDADE ESCOLAR,"71,936,402.47","57,479,034.87","57,373,312.85","60,423,294.00","60,703,407.75","107,308,738.26","61,861,778.70","61,070,072.79","538,156,041.69","60,886,740.27","67,269,505.21"
11,UNIDADE ESCOLAR MUNICIPAL - REGIME DE COLABORAÇÃO,"3,064,310.25","2,329,793.74","2,334,976.18","2,494,783.36","2,460,393.14","4,379,399.00","2,465,869.35","2,465,083.26","21,994,608.28","2,465,476.30","2,749,326.04"
12,UNIDADE ESCOLAR SEM REGULARIZAÇÃO,"233,506.42","189,006.92","174,210.34","186,302.39","186,302.39","320,956.95","187,808.78","239,741.24","1,717,835.43","188,407.85","214,729.43"
13,UNIDADE SECRETARIA,"41,337.90","46,054.00",0.00,0.00,"15,485.88","32,210.48","15,485.88",0.00,"150,574.14","15,485.88","18,821.77"
14,TOTAL,"83,030,776.96","66,964,633.33","66,585,622.40","69,714,259.45","70,701,017.35","122,942,046.24","71,612,691.27","70,620,149.86","622,171,196.86","70,660,583.60","77,771,399.61"

In [ ]:
from src.cacs_fundeb_analysis.data.ETL.transform.payrolls.gross_payroll.summaries import (
    get_categorical_payroll_summary,
)

workplace_quantitative_summary = get_categorical_payroll_summary(
    transformed_payroll_data, "quantitative", "workplace"
)
workplace_quantitative_summary

,LOTAÇÃO,25-01,25-02,25-03,25-04,25-05,25-06,25-07,25-08,TOTAL,MEDIANA,MÉDIA
0,CENTROS EDUCACIONAIS,727,405,403,407,455,1312,454,456,4619,454.50,577.38
1,CONSELHOS,4,2,2,2,3,5,2,1,21,2.00,2.62
2,COORDENADORIAS,2,1,7,1,0,0,0,1,12,1.00,1.50
3,NUCLEOS,32,6,3,1,1,4,2,0,49,2.50,6.12
4,POLO UNIVERSITARIO EQUADOR- MACAPA,0,0,0,0,0,2,1,0,3,0.00,0.38
5,SECRETARIA,5,7,2,1,0,0,0,0,15,0.50,1.88
6,SEM DESCRIÇÃO,296,324,340,337,346,359,352,346,2700,343.00,337.50
7,UNIDADE DE CONTROLE DE LOTACAO E MOVIMENTACAO ...,2,0,0,1,0,2,1,0,6,0.50,0.75
8,UNIDADE DE CONTROLE DE LOTACAO E MOVIMENTACAO ...,10,4,5,5,3,3,0,1,31,3.50,3.88
9,UNIDADE DE CONTROLE DE LOTACAO E MOVIMENTACAO ...,6,4,6,0,4,16,4,1,41,4.00,5.12
10,UNIDADE ESCOLAR,10904,6423,6397,6516,6323,17827,6319,6345,67054,"6,410.00","8,381.75"
11,UNIDADE ESCOLAR MUNICIPAL - REGIME DE COLABORAÇÃO,460,232,232,242,230,681,228,228,2533,232.00,316.62
12,UNIDADE ESCOLAR SEM REGULARIZAÇÃO,28,17,16,16,16,37,16,19,165,16.50,20.62
13,UNIDADE SECRETARIA,7,4,0,0,1,4,1,0,17,1.00,2.12
14,TOTAL,12483,7429,7413,7529,7382,20252,7380,7398,77266,"7,421.00","9,658.25"

## Adjusts payroll

### One file

In [12]:
from src.cacs_fundeb_analysis.utils.file_paths import list_files_by_prefix_suffix

file_path = list_files_by_prefix_suffix("../data/raw/files/2025", "Ajustes_Folha")[0]
file_path

'../data/raw/files/2025\\Bimestre_01\\01\\Folhas\\Ajustes_Folha_Mensal_Efetivo_Fundeb_Comp_25_01.PDF'

In [ ]:
from src.cacs_fundeb_analysis.data.ETL.extract.payrolls.payroll_adjustments.pdf import (
    extract_pdf_adjusts_payroll_data,
)

raw_adjusts_payroll_data = extract_pdf_adjusts_payroll_data(file_path)
raw_adjusts_payroll_data

Failed to import jpype dependencies. Fallback to subprocess.
No module named 'jpype'

,Elem. Despesa,Denominação,Rubrica,Descrição,Valor,Origem
0,3.3.0.0000.00,DESPESAS CORRENTES,NaN,NaN,"65.777.617,53",Ajustes_Folha_Mensal_Efetivo_Fundeb_Comp_25_01
1,3.3.1.0000.00,PESSOAL E ENCARGOS SOCIAIS,NaN,NaN,"62.534.950,87",Ajustes_Folha_Mensal_Efetivo_Fundeb_Comp_25_01
2,3.3.1.9000.00,APLICACOES DIRETAS,NaN,NaN,"62.534.950,87",Ajustes_Folha_Mensal_Efetivo_Fundeb_Comp_25_01
3,3.3.1.9011.00,VENCIMENTOS E VANT. FIXAS-PESS. CIVIL,NaN,NaN,"60.068.545,88",Ajustes_Folha_Mensal_Efetivo_Fundeb_Comp_25_01
4,3.3.1.9011.01,VENC DE EFETIVO - CIVIL,01-0001,VENCIMENTO,"1.646.934,48",Ajustes_Folha_Mensal_Efetivo_Fundeb_Comp_25_01
...,...,...,...,...,...,...
138,6.3.1.9011.19,ADIC DE FERIAS EFETIVO - CIVIL,08-0197,FERIAS DO MAGISTERIO,"-392,91",Ajustes_Folha_Mensal_Efetivo_Fundeb_Comp_25_01
139,6.3.1.9011.22,13o SALARIO EFETIVO - CIVIL,08-0094,GRATIFICACAO NATALINA - LEI N 0066/93,"-4.481,58",Ajustes_Folha_Mensal_Efetivo_Fundeb_Comp_25_01
140,6.3.3.9046.01,Elemento de despesa 633904601,08-0635,AUXILIO ALIMENTACAO - LEI 2.679/22,"-6.690,00",Ajustes_Folha_Mensal_Efetivo_Fundeb_Comp_25_01
141,NaN,NaN,NaN,PROVENTOS DESCONTOS,LÍQUIDO,Ajustes_Folha_Mensal_Efetivo_Fundeb_Comp_25_01
142,NaN,NaN,NaN,"65.777.617,53 33.207.356,31","32.570.261,22",Ajustes_Folha_Mensal_Efetivo_Fundeb_Comp_25_01

### All files

In [ ]:
from src.cacs_fundeb_analysis.data.ETL.extract.payrolls.payroll_adjustments.pdf import (
    extract_all_pdf_adjusts_payroll_data,
)

raw_adjusts_payroll_data = extract_all_pdf_adjusts_payroll_data("../data", 2025)
raw_adjusts_payroll_data

Failed to import jpype dependencies. Fallback to subprocess.
No module named 'jpype'

,Elem. Despesa,Denominação,Rubrica,Descrição,Valor,Origem
0,3.3.0.0000.00,DESPESAS CORRENTES,NaN,NaN,"65.777.617,53",Ajustes_Folha_Mensal_Efetivo_Fundeb_Comp_25_01
1,3.3.1.0000.00,PESSOAL E ENCARGOS SOCIAIS,NaN,NaN,"62.534.950,87",Ajustes_Folha_Mensal_Efetivo_Fundeb_Comp_25_01
2,3.3.1.9000.00,APLICACOES DIRETAS,NaN,NaN,"62.534.950,87",Ajustes_Folha_Mensal_Efetivo_Fundeb_Comp_25_01
3,3.3.1.9011.00,VENCIMENTOS E VANT. FIXAS-PESS. CIVIL,NaN,NaN,"60.068.545,88",Ajustes_Folha_Mensal_Efetivo_Fundeb_Comp_25_01
4,3.3.1.9011.01,VENC DE EFETIVO - CIVIL,01-0001,VENCIMENTO,"1.646.934,48",Ajustes_Folha_Mensal_Efetivo_Fundeb_Comp_25_01
...,...,...,...,...,...,...
25,5.1.1.0205.01,BANCOS E FINANCEIRAS,05-7003,BB EMPRESTIMO,"96.085,77",Ajustes_Folha_Mensal_Federal_Fundeb_Comp_25_08
26,5.1.1.0205.01,BANCOS E FINANCEIRAS,05-7826,BANCO MASTER CARTAO DE CREDITO,"248,24",Ajustes_Folha_Mensal_Federal_Fundeb_Comp_25_08
27,5.1.1.0205.01,BANCOS E FINANCEIRAS,05-7827,BANCO MASTER CARTAO BENEFICIO,"329,44",Ajustes_Folha_Mensal_Federal_Fundeb_Comp_25_08
28,NaN,NaN,NaN,PROVENTOS DESCONTOS,LÍQUIDO,Ajustes_Folha_Mensal_Federal_Fundeb_Comp_25_08
29,NaN,NaN,NaN,"746.926,22 188.885,51","558.040,71",Ajustes_Folha_Mensal_Federal_Fundeb_Comp_25_08

In [ ]:
from src.cacs_fundeb_analysis.data.ETL.transform.payrolls.payroll_adjustments.transform import (
    transform_adjusts_payroll_data,
)

transformed_adjusts_payroll_data = transform_adjusts_payroll_data(
    raw_adjusts_payroll_data
)
transformed_adjusts_payroll_data.head()

,Data,Folha,Tipo_Folha,Codigo,Descrição,Valor
86,25/01,Efetivo,Mensal,5.1.1.0105.00,"DESCONTOS POR FALTA, PUNICAO OU INDENIZACAO","48,521.09"
129,25/01,Efetivo,Mensal,6.3.0.0000.00,DESPESAS CORRENTES A ANULAR,"13,374.19"
90,25/02,Efetivo,Mensal,5.1.1.0105.00,"DESCONTOS POR FALTA, PUNICAO OU INDENIZACAO","19,904.80"
134,25/02,Efetivo,Mensal,6.3.0.0000.00,DESPESAS CORRENTES A ANULAR,"26,289.60"
90,25/03,Efetivo,Mensal,5.1.1.0105.00,"DESCONTOS POR FALTA, PUNICAO OU INDENIZACAO","17,105.47"

### summaries

In [ ]:
from src.cacs_fundeb_analysis.data.ETL.transform.payrolls.payroll_adjustments.summaries import (
    get_adjust_payroll_table_summary,
)

adjust_payroll_table_summary = get_adjust_payroll_table_summary(
    transformed_adjusts_payroll_data
)
adjust_payroll_table_summary

Descrição                 DESCONTOS POR FALTA, PUNICAO OU INDENIZACAO  \
Data  Folha   Tipo_Folha
25/01 Efetivo Mensal                                        48,521.09
25/02 Efetivo Mensal                                        19,904.80
25/03 Efetivo Mensal                                        17,105.47
25/04 Efetivo Mensal                                        33,159.11
25/05 Cargo   Mensal                                         1,398.19
      Efetivo Mensal                                        31,365.02
25/06 Cargo   Mensal                                             0.00
      Efetivo Mensal                                        51,802.47
25/07 Cargo   Mensal                                             0.00
      Efetivo Mensal                                        48,472.27
25/08 Cargo   Mensal                                             0.00
      Efetivo Mensal                                        41,993.69
TOTAL                                                      293,722.11

Descrição                 DESPESAS CORRENTES A ANULAR      TOTAL
Data  Folha   Tipo_Folha
25/01 Efetivo Mensal                        13,374.19  61,895.28
25/02 Efetivo Mensal                        26,289.60  46,194.40
25/03 Efetivo Mensal                        16,926.05  34,031.52
25/04 Efetivo Mensal                        23,097.11  56,256.22
25/05 Cargo   Mensal                             0.00   1,398.19
      Efetivo Mensal                        24,895.98  56,261.00
25/06 Cargo   Mensal                           200.00     200.00
      Efetivo Mensal                        26,277.05  78,079.52
25/07 Cargo   Mensal                           200.00     200.00
      Efetivo Mensal                        34,255.29  82,727.56
25/08 Cargo   Mensal                           200.00     200.00
      Efetivo Mensal                        15,456.51  57,450.20
TOTAL                                      181,171.78 474,893.89

## Pipeline

In [ ]:
from src.cacs_fundeb_analysis.data.ETL.pipelines.payrolls.pipeline import (
    run_payroll_data_pipeline,
)

run_payroll_data_pipeline(
    base_dir="../data",
    year=2025,
    ocp_clss_path="../src/cacs_fundeb_analysis/ETL/transform/payrolls/gross_payroll/occupation_classification.json",
    all_clss_path="../src/cacs_fundeb_analysis/ETL/transform/payrolls/gross_payroll/allocation_classification.json",
)

Failed to import jpype dependencies. Fallback to subprocess.
No module named 'jpype'

Pipeline da folha de pagamento executado com sucesso!